@import "../css/scss.scss";
body {
    line-height: 2;
    color: $red;
    font-size: 12px;
   
}
p{
    transform: scale(3)
}
div {
    width:100%;
    height: 161px;
    background: url(../assets/11.png) no-repeat;
    
}
